

.controls{

	display: inline-block;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	vertical-align: top;
}

.controls ul{
	float: right;
}

.controls li{
	float: left;
	margin-left: 20px;
	list-style-type: none;
	cursor: pointer;
}
.controls li img{
	padding: 10px;
}
.controls h3{
	cursor: default;
}
/*

.controls li.active{
	font-weight: 700;
}
*/


#Grid{
	width: 80%;
	text-align: center;
	font-size: 0.1px;
	margin: 0px auto;
}

/*
#Grid:after{
	content: '';
	display: inline-block;
	width: 100%;
}
*/

#Grid .mix{
	display: none;
	opacity: 0;
	width: 30%;
	//height: 1%;
	vertical-align: top;
	margin-bottom: 20px;
	margin-left: 20px;
}
#Grid .mix img{
width: 100%;
height: 15%}

#Grid .gap{
	display: inline-block;
	//width: 200px;
}

/* IMAGES */

.img_wrapper{
	position: relative;
	background: #f0ebe5;
	overflow: hidden;
}

.img_wrapper img{
	position: absolute;
	width: 100%;
	height: auto;
	opacity: 0;
	top: 0;
	
	-webkit-transition: opacity 150ms;
	-moz-transition: opacity 150ms;
	-ms-transition: opacity 150ms;
	transition: opacity 150ms;
}

.img_wrapper.loaded img{
	opacity: 1;
}
